@charset "UTF-8";

body {
    background-color: bisque;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    background-color: aquamarine;
    color: blueviolet;
}
h2 {
    color: brown;
}
p {
    text-justify: auto;
}