@charset "UTF-8";

body {
    background-color: rgb(206, 219, 128);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 156, 156);
}

h1#principal {
    color: blue;
}

h2 {
    color: blueviolet;
}

.basic {
    color: rgb(211, 155, 167);
}

.intermediate {
    color: rgb(214, 77, 105);
}

.advanced {
    color: crimson;
}

.destaque {
    font-weight: bold;
    color: coral;
}